<!doctype html>
<html>
  <head>
    <title>Ppbbww | {{ page.ts }}</title>
    <link rel="icon" href="/ppbbww/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/ppbbww/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Ppbbww | {{ page.date_time }}"/>
    <meta property="og:image" content="https://abtrout.github.io/ppbbww/static/images/{{ page.ts }}.jpg"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <a href="/ppbbww" class="title">Ppbbww</a>
      </div>
      <div class="row">
        <div class="img-container">
          <img src="/ppbbww/static/images/{{ page.ts }}.jpg">
        </div>
      </div>
      <div class="row">
        <div class="column text-right">
          {% if page.prev_ts %}
          <a href="/ppbbww/{{ page.prev_ts }}" alt="Older posts">&lt;&lt;</a>
          {% else %}
          &nbsp;
          {% endif %}
        </div>
        <div class="column text-center">
          {{ page.date_time }}
        </div>
        <div class="column text-left">
          {% if page.next_ts %}
          <a href="/ppbbww/{{ page.next_ts }}" alt="Newer posts">&gt;&gt;</a>
          {% else %}
          &nbsp;
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
